{% extends "base.html" %}
{% import "macros/jsonld.html" as jsonld %}

{% block head_extra %}
{{ jsonld::breadcrumb(title=page.title, url=page.permalink, lang=lang) }}
{% endblock %}

{% block content %}
<article>
  <header>
    <div class="container container--narrow">
      <h1>{{ page.title }}</h1>
      {% if page.description %}
      <p>{{ page.description }}</p>
      {% endif %}
    </div>
  </header>

  <div class="container container--narrow">
    {{ page.content | safe }}
  </div>
</article>
{% endblock %}
