{% extends "base.html" %}

{% block content %}
<article>
  <header>
    <div class="container">
      <h1>{{ section.title }}</h1>
      {% if section.description %}
      <p>{{ section.description }}</p>
      {% endif %}
    </div>
  </header>

  <div class="container" role="list" aria-label="{{ section.title }}">
    {% if section.pages | length > 0 %}
      {% for page in section.pages %}
      <div role="listitem">
        <a href="{{ page.permalink }}">
          <h2>{{ page.title }}</h2>
          {% if page.date %}<p>{{ page.date | date(format="%d.%m.%Y") }}</p>{% endif %}
          {% if page.description %}<p>{{ page.description }}</p>{% endif %}
        </a>
      </div>
      {% endfor %}
    {% else %}
      <p>{{ trans(key="news_empty", lang=lang) }}</p>
    {% endif %}
  </div>
</article>
{% endblock %}
